* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
section {
	width: 40%;
	margin: auto;
}

.form {
	padding: 1rem;
	font-size: 17px;
}
.form-regis {
	margin-top: 1rem;
}

.form-regis__input {
	padding: 0.5em;
	font-size: 1rem;
	position: relative;
	width: 100%;
	border: solid 1px;
}
.form-regis__checkbox {
	font-size: large;
}
.imagen {
	text-align: center;
}
.imagen-title {
	width: 20%;
	margin: auto;
}
.boton {
	display: block;
	width: 50%;
	padding: 1rem;
	margin: 1em auto;
	background-color: crimson;
	color: white;
}
.boton:hover {
	background-color: rgb(42, 110, 165);
}
.boton {
	color: white;
	font-size: 18px;
	padding: 1rem;
	background: linear-gradient(50deg, crimson, #590082);
	border: 2px solid;
	transition: all 300ms;
	position: relative;
}
.boton:hover {
	background: linear-gradient(50deg, #590082, crimson);
	color: #fff;
	box-shadow: 0px 30px 5px -15px rgba(0, 0, 0, 0.3);
}

.form-regis__checkbox {
	display: inline-block;
	cursor: pointer;
	color: black;
	position: relative;
	font-size: 1em;
	border-radius: 30px;
}
